@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300&display=swap');
* {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 label {
    color: #242426;
    text-align: center;
    line-height: 1.25;
}

h1 {
    font-size: 36px
}

p {
    line-height: 1.5;
    font-size: 16px;
}

li {
    list-style: none;
}

.flex {
    display:flex;
}

.flex-1 {
    flex: 1;
} 
.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    justify-content: space-between;
}

.text--highlight {
    color:#563edf
}
/* Navigation Bar */
nav {
    background-color: #f8f9fa;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.personal_logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #242426;
    margin: 0 12px;
}

.nav__link--list {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav__link--anchor {
    text-decoration: none;
    color: #242426;
    transition: color 0.3s ease;
    margin: 0 10px;
}

.nav__link--anchor:hover {
    color: #007bff;
}

.nav__link--anchor-active {
    background-color: #301d9c;
    color: #ffffff;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 50px;
}

/* About Me */

#about-me {
    min-height: 100vh;
}

.aboutme__content {
    display:flex;
    flex-direction: column;
}
.about-me__content--container{
    display: flex;
    flex-direction: column;
    align-items:center;
    max-width: 620px;
    margin: 0 auto;
    text-align: center;
}

.about-me__pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 75px;
    box-shadow: 0 8px 130px black;
    overflow: hidden;
    margin-bottom: 40px;
}

.personal_logo {
    text-shadow:#563edf 1px 1px 3px
}

.aboutme__content--title {
    margin-bottom: 18px;
}
.aboutme__content--description {
    font-size: 20px;
    margin-bottom: 30px;
}

.aboutme__link {
    font-size: 20px;
    color: black;
    padding: 0 18px;
}

.aboutme__img--container {
    flex: 1;
    display: flex;
    align-items: center;
}

.aboutme__img {
    width: 100%;
}